@model Nemesis.Site.Models.StoreListViewModel

@{
    ViewBag.Title = "Stores";
}

<div>
    <div class="panel-title">
        <h1>Stores in your area</h1>
    </div>
    <div class="panel-heading">
        <h3>Refine by product type</h3>
        <div>
            @foreach (var productType in Model.AvailableProductTypes)
            {
                <div class="checkbox-inline">
                    @Html.CheckBox("productTypeSelectGroup", true, new { @value = productType.Id })
                    @Html.Label(productType.Name)
                </div>
            }                
        </div>
    </div>
    <div class="panel-body">
        @foreach (var store in Model.Stores)
        {
            <div class="navbar-form">
                <div class="row">
                    <div class="col-md-3"> @Html.ActionLink(store.Name, "Detail", new { Id = store.Id }) </div>
                    <div class="col-md-2"> @Html.Label(store.Postcode) </div>
                    <div class="col-md-7">
                        @foreach (var product in store.ProductTypes)
                        {
                            <div class="label label-default"> @Html.Label(product.Name)</div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>